@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

*::selection {
    background-color: #fff;
    color: #dd0e0eda;
}

body::-webkit-scrollbar {
    display: block;
    width: 4px;
    background: #000000fd;
}

body::-webkit-scrollbar-thumb {
    background-color: #d12b2bc4;
    border-radius: 10px;
}

html,
body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #dd0e0eda;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

/* #cursor-blur {
    height: 250px;
    width: 250px;
    background-color: #dd0e0eda;
    border-radius: 50%;
    position: fixed;
    filter: blur(60px);
    z-index: 9;
} */

#nav {
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    position: fixed;
    gap: 45px;
    justify-content: center;
    z-index: 99;
}

#nav img {
    height: 60px;
    color: transparent;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);

}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}

#page1 h1 {
    font-size: 100px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "TUSAR KUMAR PARIDA";
    position: absolute;
    color: #000;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 2px #dd0e0eda;
    z-index: -1;
}

#page1 h2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 15px;
    font-weight: 500;
    width: 40%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}

#scroller h4 {
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: sans-serif;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #dd0e0eda;
}

#scroller h4:hover {
    color: #dd0e0eda;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
